<html>
	<title>Superhero</title>
	<body>
	<h1>Which Superhero are you?</h1>

<img src = "allherospicture.jpg" width="500">
<li>

    <h3>What is you biggest weakness?</h3>
    
    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A" />
        <label for="question-1-answers-A">A) You try to do too much </label>
    </div>
    
    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B" />
        <label for="question-1-answers-B">B) Psychological trauma from the past</label>
    </div>
    
    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C" />
        <label for="question-1-answers-C">C) You rely on others too much</label>
    </div>
    
    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-D" value="D" />
        <label for="question-1-answers-D">D) You love attention</label>
    </div>

    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-E" value="E" />
        <label for="question-1-answers-E">E) Your ego</label>
    </div>

    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-F" value="F" />
        <label for="question-1-answers-F">F) You're destructive</label>
    </div>

    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-G" value="G" />
        <label for="question-1-answers-G">G) You are insensitive to others.</label>
    </div>
</li>
<input type='submit' value='Submit answer' />
<input type='button' value='Next Question'/>
</p>
</body>
</html>