<html>
<head>
    <title>Superhero</title>
    <style>
        
    </style>
</head>

    <body>
    
    <h1>Which Superhero are you?</h1>

<img src = "/static/allherospicture.jpg" width="500">
<div id="anotherOne">
    <div class="question-list"><!--

    <h3>What is you biggest weakness?</h3>
    
    <div>
        <input type="radio" name="q1" id="q1A" value="A" />
        <label for="q1A">A) You try to do too much </label>
    </div>
    
    <div>
        <input type="radio" name="q1" id="q1B" value="B" />
        <label for="q1B">B) Psychological trauma from the past</label>
    </div>
    
    <div>
        <input type="radio" name="q1" id="q1C" value="C" />
        <label for="q1C">C) You rely on others too much</label>
    </div>
    
    <div>
        <input type="radio" name="q1" id="q1D" value="D" />
        <label for="q1D">D) You love attention</label>
    </div>

    <div>
        <input type="radio" name="q1" id="q1E" value="E" />
        <label for="q1E">E) Your ego</label>
    </div>

    <div>
        <input type="radio" name="q1" id="q1F" value="F" />
        <label for="q1F">F) You're destructive</label>
    </div>

    <div>
        <input type="radio" name="q1" id="q1G" value="G" />
        <label for="q1G">G) You are insensitive to others.</label>
    </div>-->
    </div>
</div>
<br>
<button onclick="nextQuestion();">Next Question</button>

<br><br><b><!-- Beginning of new question--> 

</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
<script type="text/javascript">
    var questions;
    var answers = [];
    var answerChoices = ['A','B','C','D','E','F','G']

    var route = "data";
    var callback = function(returned_json) {
    questions = returned_json["questions"];
    console.log(questions);
    updateUI();
    };

    $.getJSON(route, callback);

    function updateUI(){
        if (questions == null) {
            return;
        }
        if (questions.length == answers.length) {
            getSuperhero();
        }
        else {
            var index = answers.length
            var questionTitle = questions[index]['title']
            var questionResponses= questions[index]['responses']
            $(".question-list").append("<h2>"+questionTitle+"</h2>");

            for (i = 0; i <= questionResponses.length; i++) {       //displays all the radios and answer choices
            $(".question-list").append("<input type=\"radio\" name=\"q\" value=\""+answerChoices[i]+"\" /><label>"+answerChoices[i]+") "+questions[index]['responses'][i]['description']+"</label><br>");
            }

        }
        
    }

    function nextQuestion() {
        var q = document.getElementsByName("q");
        if (q[0].checked) {
            answers.push('A');
        }
        else if (q[1].checked) {
            answers.push('B');
        }
        else if (q[2].checked) {
            answers.push('C');
        }
        else if (q[3].checked) {
            answers.push('D');
        }
        else if (q[4].checked) {
            answers.push('E');
        }
        else if (q[5].checked) {
            answers.push('F');
        }
        else if (q[6].checked) {
            answers.push('G');
        }
        $('.question-list').remove();
        $('#anotherOne').append("<div class = \"question-list\"></div>")
        updateUI();
    }

    function getSuperhero() {
        var callback = function(returned_json) {
            console.log("got superhero");
            console.log(returned_json);
            var hero = returned_json['hero'];
            alert("YOU ARE "+hero);
        }
        var data = {"answers": answers};
        $.post("/getSuperhero", JSON.stringify(data), callback);

    }
</script>
</html>