<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Superhero</title>
    <style>
        body {
            background: #B1DDE7;
        }

    </style>
</head>
    
    <body>
    
    <h1>Which Superhero are you?</h1>

<img src = "/static/allherospicture.jpg" width="500">
<div id="anotherOne">
    <div class="question-list"></div>
</div>
<br>
<button onclick="nextQuestion();" id="nextQuestion">Next Question</button>

<br><br><b>

</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
<script type="text/javascript">
    var questions;
    var answers = [];
    var answerChoices = ['A','B','C','D','E','F','G']

    var route = "data";
    var callback = function(returned_json) {
    questions = returned_json["questions"];
    updateUI();
    };

    $.getJSON(route, callback);

    function updateUI(){
        if (questions == null) {
            return;
        }
        if (questions.length == answers.length) {
            getSuperhero();
        }
        else {
            var index = answers.length
            var questionTitle = questions[index]['title']
            var questionResponses= questions[index]['responses']
            $(".question-list").append("<h2>"+questionTitle+"</h2>");

            for (i = 0; i < questionResponses.length; i++) {       //displays all the radios and answer choices
            $(".question-list").append("<input type=\"radio\" name=\"q\" value=\""+answerChoices[i]+"\" /><label>"+answerChoices[i]+") "+questions[index]['responses'][i]+"</label><br>");
            }

        }
        
    }

    function nextQuestion() {
        var q = document.getElementsByName("q");
        if (q[0].checked) {
            answers.push('A');
        }
        else if (q[1].checked) {
            answers.push('B');
        }
        else if (q[2].checked) {
            answers.push('C');
        }
        else if (q[3].checked) {
            answers.push('D');
        }
        else if (q[4].checked) {
            answers.push('E');
        }
        else if (q[5].checked) {
            answers.push('F');
        }
        else if (q[6].checked) {
            answers.push('G');
        }
        $('.question-list').remove();
        $('#anotherOne').append("<div class = \"question-list\"></div>")
        updateUI();
    }

    function getSuperhero() {
        var callback = function(returned_json) {
            var hero = returned_json['hero'];
            $(".question-list").append("<h2> You are..."+hero+"</h2>");
            $('#nextQuestion').remove();
            $('.question-list').append("<a href=\"/\">Go back home</a>");

        }
        var data = JSON.stringify({"answers": answers});
        $.post("/getSuperhero", data, callback);

    }
</script>
</html>