<html>
<head>
	<title>Superhero</title>
    <style>
        
    </style>
</head>

	<body>
    
	<h1>Which Superhero are you?</h1>

<img src = "allherospicture.jpg" width="500">
<li>

    <h3>What is you biggest strength?</h3>
    
    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A" />
        <label for="question-1-answers-A">A) You're trustworthy </label>
    </div>
    
    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B" />
        <label for="question-1-answers-B">B) You're passionate</label>
    </div>
    
    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C" />
        <label for="question-1-answers-C">C) You're protective</label>
    </div>
    
    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-D" value="D" />
        <label for="question-1-answers-D">D) You have good gut feelings</label>
    </div>

    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-E" value="E" />
        <label for="question-1-answers-E">E) You're intelligent/label>
    </div>

    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-F" value="F" />
        <label for="question-1-answers-F">F) You use anger to your advantage</label>
    </div>

    <div>
        <input type="radio" name="question-1-answers" id="question-1-answers-G" value="G" />
        <label for="question-1-answers-G">G) You have a good heart.</label>
    </div>
</li>
<input type='submit' value='Submit answer' />
<input type='button' value='Next Question'/>

</html>
